body {
  @import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  font-family: "Heebo", sans-serif;

  color: #21243d;
}
a {
  color: #000000;
}
/* ..............header............ */
header {
  padding-top: 27px;
  margin-bottom: 140px;
}

.conteiner {
  max-width: 858px;
  border: 2px solid green;
  margin: 0px auto;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 45px;
  height: 45px;
}
.ul-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 33px;
  font-size: 20px;
  font-weight: 500;
}

.menu-icon {
  display: none;
}
/* ................ main............. */

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}
.para-main {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.submit-main {
  width: 208px;
  height: 47px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  background-color: #ff6464;
  color: #ffffff;
  margin-top: 24px;
}

/* ............section1 (posts).......... */
.section1 {
  background-color: #edf7fa;
  padding-top: 7px;
  padding-bottom: 32px;
  margin-top: 71px;
}
.para-resent-posts {
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
}
.para-view-all {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #00a8cc;
}
.div-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 17px;
}
.div-2-1 {
  max-width: 418px;
  min-height: 295px;
  background-color: #ffffff;
  padding: 24px 21px 7px 23px;
  /* border: 1px solid red; */
  margin: 0px auto;
}
.div-2-2 {
  max-width: 418px;
  min-height: 295px;
  background-color: #ffffff;
  padding: 24px 21px 7px 23px;
  /* border: 1px solid red; */
  margin: 0px auto;
}
h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
}
.para-date {
  margin: 25px 0px;
  font-size: 18px;
  font-weight: 400;
}
span {
  border: 1px solid #000000;
  margin: 0px 24px;
}
.para-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
